body {
  background: #2e2e2e;
}
select {
  height: auto;
  width: auto;
  margin: 10px;
}
* {
  border-radius: 10px;
}
button {
  margin: 10px;
}
.App {
  text-align: center;
  font-size: large;
  color: aliceblue;
}
.clock {
  float: center;
  color: aliceblue;
  margin-left: 520px;
}
.primary_inverted {
  background-color: #3b9797;
  padding: 10px;
}
